.navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    background-color: #E4E0E1;
    border-radius: 5px;
}

.brand {
    padding-left: 5rem;
}

.logt, .brandC{
    background-color: #E4E0E1;
}

.logout {
    margin-right: 5rem;
}