empBody {
    background-color: #E4E0E1;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #D6C0B3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .btn-add {
    background-color: #AB886D;
    color: white;
    margin-right: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
  }
  
  .search-group {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #D6C0B3;
  }
  
  .btn-search {
    background-color: #E4E0E1;
    color: #493628;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 10px;
  }

  .btn-search:hover, .btn-search:hover .search-icon {
    background-color: #AB886D;
  }
  
  
  .employee-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* background-color: #E4E0E1; */
    padding: 10px;
  }
  
  .emp-body, .employee-name, .employee-position, .employee-department, .edit-icon, .delete-icon, .btn-edit, .btn-delete, .search-icon{
    background-color: #E4E0E1;
  }

  .edit-icon, .delete-icon{
    color: #493628;
  }

  .btn-add:hover, .btn-add:hover .add-icon, .btn-delete:hover, .btn-delete:hover .delete-icon, .btn-edit:hover, .btn-edit:hover .edit-icon{
    transform: scale(1.15);
    background-color:#E4E0E1;
  }

  .employee-card {
    width: 18rem;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #D6C0B3;
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
  .employee-card:hover {
    transform: scale(1.05);
  }
  
  .employee-name {
    font-size: 1.25rem;
    color: #493628;
    font-weight: bold;
  }
  
  .employee-position,
  .employee-department {
    color: #AB886D;
  }
  
  .btn-edit,
  .btn-delete {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border: none;
  }
  
  .btn-delete {
    margin-left: 10px;
  }
  